@page "{id:int}"
@using gcsharpRPC.Pages.Shared;
@model gcsharpRPC.Pages.Polls.GetPollPageModel
@{
    var pollId = RouteData.Values["id"];
}
<p>The Id is @pollId</p>

<p>
@if (Model.Poll is null)
{
    <span>Vai Ca Null</span>
}
</p>

<h2>@(Model.Poll?.Title ?? "Not found")</h2>

@if (Model.Poll is not null)
{
    <h5>Description</h5>
    <p>@Html.DisplayFor(model => model.Poll.Description)</p>

    <h5>Description</h5>
    <p>@Html.DisplayFor(model => model.Poll.Location)</p>

    @if (Model.Poll.CloseDate is not null)
    {
        <h5>Description</h5>
        <p>@Html.DisplayFor(model => model.Poll.CloseDate)</p>
    }

    <h6>Delete</h6>
    <form method="POST">
        <button type="submit" asp-page-handler="Delete" asp-route-id="@Model.Poll.Id">Delete</button>
    </form>

    var pollGuid = Model.Poll.PollGuid.ToString("N");
    <h2>@pollGuid</h2>
    <a class="btn btn-primary btn-sm ms-1" asp-page="../Polls/Join" asp-route-id="@pollGuid">Join</a>

    @* <h6>Close</h6>
    <form method="POST">
        <button type="submit" asp-page-handler="ToggleClose" asp-route-id="@Model.Poll.Id">Close</button>
    </form> *@
}

<div class="mt-3">
    <partial name="_BackToListBtn" />
</div>